langgraph
langchain
langchain-community
langchain-huggingface
langchain-chroma
langchain-groq
chromadb
sentence-transformers
streamlit
scikit-learn
joblib
ddgs
python-dotenv
pandas
numpy
pydantic
fpdf2
reportlab
wikipedia-api
plotly
